.hero1 {
  height: 80vh;
  background-image: url("/pexels-photo-262978.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(to right, #000000, #d3d3d3);
}

.hero {
  background: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e")
    center/cover no-repeat;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}

.hero-content {
  position: relative;
  z-index: 2;
}
